<%- include('../partials/header'); %>

<div class="row">
    <div class="col col-md-12">
        <h3>List of 20 Latest buses added</h3>

        <p> 
            <a href="/admin/buses/create" class="btn btn-success">Add a bus</a>
        </p>
        <hr>

        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <% buses.forEach(function(bus){ %>
                    <tr>
                        <td><%= bus.get("from") %></td>
                        <td><%= bus.get("to") %></td>
                        <td><%= bus.get("date") %></td>
                        <td><%= bus.get("time") %></td>
                        <td>
                            <a href="/admin/buses/<%= bus.id %>/edit" class="btn btn-danger">Update Informations</a>
                        </td>

                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>

<%- include('../partials/footer'); %>